# Unit 23. 2차원 리스트 사용

## 23.1 생성 및 인덱싱

In [1]:
a = [[10, 20], [30, 40], [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [2]:
# a [행 인덱스], [열 인덱스]
a[1][0]

30

In [4]:
a[1][-1] = 100  # [-1] 마지막 인덱스
a

[[10, 20], [30, 100], [50, 60]]

In [6]:
import numpy as np
b = np.arange(16).reshape(4, 4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [7]:
b[1, 1]

5

In [9]:
b[1:-1, 1:-1]

array([[ 5,  6],
       [ 9, 10]])

In [11]:
# 톱니형 리스트
a = [[10, 20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]
a

[[10, 20], [500, 600, 700], [9], [30, 40], [8], [800, 900, 1000]]

In [12]:
a = []
for i in range(4):
    t = []
    for k in range(4):
        t.append(i * 4 + k)
    a.append(t)
a

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [14]:
[[i * 4 + k for k in range(4)] for i in range(4)]

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [13]:
from pprint import pprint
pprint(a, indent = 4, width = 30)

[   [0, 1, 2, 3],
    [4, 5, 6, 7],
    [8, 9, 10, 11],
    [12, 13, 14, 15]]

## 23.2 for 반복문 사용

In [15]:
for row in a:
    print(row)

[0, 1, 2, 3]
[4, 5, 6, 7]
[8, 9, 10, 11]
[12, 13, 14, 15]

In [19]:
for row in a:
    for element in row:
        print(f'{element:2d} ', end = '')
    print()

 0  1  2  3
 4  5  6  7
 8  9 10 11
12 13 14 15

In [18]:
for w, x, y, z in a:  # list unpacking
    print(w, x, y, z)

0 1 2 3
4 5 6 7
8 9 10 11
12 13 14 15

## 23.3 반복문으로 리스트 만들기

In [20]:
a = [[0 for _ in range(2)] for _ in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [22]:
a = [[0] * 2 for _ in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [24]:
number = [3, 1, 3, 2, 5]
b = []
for i in number:
    line = []
    for _ in range(i):
        line.append(0)
    b.append(line)
b

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [25]:
[[0] * i for i in number]

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

## 23.4 2차원 리스트의 할당과 복사

In [27]:
# memory address만 copy
a = [[10, 20], [30, 40]]
b = a
b[0][0] = 500
a

[[500, 20], [30, 40]]

In [28]:
a = [[10, 20], [30, 40]]
import copy
b = copy.deepcopy(a)
b[0][0] = 500
a

[[10, 20], [30, 40]]