# Unit 30. 위치 인수와 키워드 인수

## 30.1 위치 인수

In [1]:
print(10, 20, 30)

10 20 30

In [2]:
print(10, 20, 30, sep = ', ')

10, 20, 30

In [3]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)
print_numbers(10, 20, 30)

10
20
30

In [5]:
x = [10, 20, 30]
print_numbers(* x) # List Unpacking

10
20
30

In [7]:
y = (40, 50, 60)
print_numbers(* y) # Tuple Unpacking

40
50
60

### 가변 인수 함수

In [12]:
def print_numbers2(* args):
    for arg in args:
        print(arg)

In [13]:
print_numbers2(10, 20, 30, 40)

10
20
30
40

### 고정 인수와 가변 인수

In [14]:
def print_numbers3(a, * args):
    print(a)
    print(args)

In [15]:
print_numbers3(1, 10, 20)

1
(10, 20)

In [16]:
print_numbers3(* x)

10
(20, 30)

In [17]:
def print_numbers4(* args, a):
    print(args)
    print(a)

In [18]:
print_numbers4(* x)

TypeError: ignored

## 30.2 키워드 인수

In [19]:
def personal_info(name, age, addr):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', addr)
personal_info('홍길동', 30, '서울 송파구 잠실동')

이름:  홍길동
나이:  30
주소:  서울 송파구 잠실동

In [20]:
personal_info(age = 30, addr = '서울 송파구 잠실동', name = '홍길동')

이름:  홍길동
나이:  30
주소:  서울 송파구 잠실동

## 30.3 키워드 인수와 딕셔너리 언패킹

In [22]:
x = {'name' : '홍길동', 'age' : 30, 'addr' : '서울 송파구 잠실동'}
personal_info(** x)

이름:  홍길동
나이:  30
주소:  서울 송파구 잠실동

In [23]:
personal_info(* x)

이름:  name
나이:  age
주소:  addr

### 가변 키워드 인수

In [24]:
def personal_info2(** kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [25]:
personal_info2(** x)

name: 홍길동
age: 30
addr: 서울 송파구 잠실동

In [26]:
personal_info2(name = '홍길동', age = 30)

name: 홍길동
age: 30

In [41]:
def personal_info3(name, ** kwargs):
    print(name)
    print(kwargs)

In [42]:
personal_info3(** x)

홍길동
{'age': 30, 'addr': '서울 송파구 잠실동'}

### 위치 인수와 키워드 인수

In [35]:
def my_print(* args, ** kwargs):
    print(* args, ** kwargs)

In [36]:
my_print(10, 20, 30, sep = ', ')

10, 20, 30

## 30.4 매개변수 초기값

In [43]:
def personal_info4(name, age, addr = '비공개'):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', addr)

In [44]:
personal_info4('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

In [45]:
personal_info4(** x)

이름:  홍길동
나이:  30
주소:  서울 송파구 잠실동