# Unit 14. else

In [ ]:
x = 5
if x == 10:
    print('It is 10')
else:
    print('It is not 10')

It is not 10

### 3항 연산자
- Java, JavaScript : a = (조건) ? 참일 때의 값 : 거짓일 때의 값
- Python : a = 참일 때의 값 if, 거짓일 때의 값 else

In [ ]:
x = 1
if x % 2 == 0:
    y = 'even'
else:
    y = 'odd'
y

'odd'

In [ ]:
y = 'even' if x % 2 == 0 else 'odd'
y

'odd'

In [ ]:
# 90<= : A, 80~89 : B, 70~79 : C, 60~69 : D, >=59 : F
score = int(input('점수 입력> '))
if score >= 90:
    grade = 'A'
else:
    if score >= 80:
        grade = 'B'
    else:
        if score >= 70:
            grade = 'C'
        else:
            if score >= 60:
                grade = 'D'
            else:
                grade = 'F'
print(grade)

점수 입력> 85
B

In [ ]:
score2 = int(input('점수 입력> '))
grade2 = 'A' if score2 >= 90 else \
             'B' if score2 >= 80 else \
                 'C' if score2 >= 70 else \
                     'D' if score2 >= 60 else 'F'
print(grade2)

점수 입력> 99
A

In [ ]:
score3 = int(input('점수 입력> '))
grade3 = 'A' if score3 >= 90 else 'B' if score3 >= 80 else 'C' if score3 >= 70 else 'D' if score3 >= 60 else 'F'
print(grade3)

점수 입력> 42
F

### 조건식에서의 논리연산자

In [14]:
x = 5
if x > 0 and x < 10:
    print('10보다 작은 양의 정수입니다')

10보다 작은 양의 정수입니다

In [15]:
if 0 < x < 10:
    print('10보다 작은 양의 정수입니다')

10보다 작은 양의 정수입니다