# Unit 6. 변수와 입력

## 6.1 변수
- 영문 문자와 숫자를 사용할 수 있습니다.
- 대소문자를 구분합니다.
- 문자부터 시작해야 하며 숫자부터 시작하면 안 됩니다.
- _(밑줄 문자)로 시작할 수 있습니다.
- 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.
- 파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

In [1]:
x = 10
x

10

In [3]:
s = 'hello ,world!'
s

'hello ,world!'

In [4]:
type(x), type(s)

(int, str)

In [5]:
x, y, z = 10, 20, 30
x, y, z

(10, 20, 30)

In [6]:
x = y = z = 10
x, y, z

(10, 10, 10)

In [7]:
del z
print(z)

NameError: ignored

In [8]:
x = None
print(x)

None

In [9]:
x


## 6.2 변수로 계산

In [10]:
a = 10
a = a + 10
a

20

In [11]:
a = 10
a += 10 # a = a + 10
a

20

In [12]:
sum, prod = 0, 1
for i in range(1,11):
    sum += i
    prod *= i
sum, prod

(55, 3628800)

In [13]:
-prod

-3628800

## 6.3 입력(input)

In [14]:
input()

ASDF

'ASDF'

In [15]:
x = input()

hello world!

In [16]:
x

'hello world!'

In [18]:
x = input('1에서 10사이의 정수값> ') # prompt

1에서 10사이의 정수값> 7

In [19]:
# 입력한 두 정수의 값
a = input('첫번째 정수> ')
b = input('두번째 정수> ')
a + b

첫번째 정수> 101303
두번째 정수> 45

'10130345'

In [20]:
type(a), type(b)

(str, str)

In [21]:
a = input('첫번째 정수> ')
b = input('두번째 정수> ')
int(a) + int(b)

첫번째 정수> 101
두번째 정수> 303

404

In [22]:
a = int(input('첫번째 정수> '))
b = int(input('두번째 정수> '))
a + b

첫번째 정수> 101
두번째 정수> 303

404

## 6.4 입력값 두개

In [23]:
s.split()

['hello', ',world!']

In [25]:
a, b = s.split() # list unboxing
a, b

('hello', ',world!')

In [26]:
a, b, c = 'A quick brown'.split()
a, b, c

('A', 'quick', 'brown')

In [28]:
a, b = input('두 개의 정수를 입력> ').split()

두 개의 정수를 입력> 10 20

In [29]:
a = int(a)
b = int(b)
a + b

30

In [30]:
a, b = input('두 개의 정수를 입력, comma로 구분> ').split(',')

두 개의 정수를 입력, comma로 구분> 10,20

In [31]:
a = int(a)
b = int(b)
a + b

30

### map 활용
- 리스트의 각 엘리먼트에 지정한 함수를 적용

In [32]:
a, b = map(int, [10.2, 11.4])
a, b

(10, 11)

In [33]:
a, b = map(int, input('두 개의 정수를 입력>').split())
a + b

두 개의 정수를 입력>10 20

30

In [34]:
import math
a, b = map(math.sqrt, [1, 4])
a, b

(1.0, 2.0)